.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 100%;
}

.search-bar-section {
    box-sizing: border-box;
    width: 40%;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 60px;
    padding: 0.2rem;
    background: linear-gradient(to right, var(--green-600), var(--green-500), var(--green-700));
}
  
.search-bar input {
    width: 85%;
    padding: 0.5rem 0.5rem 0.5rem 1.2rem;
    border-radius: 60px 0 0 60px;
    background-color: var(--custom-white);
    color: var(--green-950);
    border: none;
}

.search-bar input:focus {
    box-shadow: none;
}

.filter-button {
    width: 15%;
    background-color: var(--custom-white);
    display: flex;
    justify-content: center;
    border-radius: 0px 60px 60px 0;
    padding: 0.5rem 0;
}

.filter-icon {
    color: var(--green-950);
    font-size: x-large;
}

.job-categories-section {
    margin-top: 20px;
}

.job-categories-section h3 {
    color: white;
    font-weight: 600;
}

.job-categories-section ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    gap: 1rem;
}

.job-categories-section ul li {
    background-color: #edf6f9;
    padding: 5px 12px;
    border-radius: 50px;
}

.job-categories-section ul li button {
    color: black;
}

.job-categories-section ul li:hover {
    background-color: #053419;
    box-shadow: 0 2px 5px rgba(221, 219, 219, 0.4);
}

.job-categories-section ul li:hover button {
    color: white;
}

/* PROFILE PAGE */

.profile-page {
    overflow-y: auto;
}

.profile-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.profile-info > div > h2 {
    color: var(--custom-white);
    font-size: 2rem;
    font-weight: 700;
}

.profile-info > div > p {
    color: var(--custom-white);
}

.profile-about {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.profile-about > div {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    width: 50%;
}

.profile-label {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--green-950);
    text-shadow: -2px -1.2px 3px rgba(231, 229, 229, 0.6);
}

.profile-about > div > p {
    color: var(--custom-white);
    transition: all 0.2s ease-in-out;
}

.profile-about > div > p:hover {
    padding: 6px 10px;
    border: 1px solid var(--custom-white);
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(4, 37, 18, 0.5);
}

.profile-about > div > div {
    border: 1px solid var(--green-900);
    width: 40%;
}

.close-button {
    background: none;
    border: 1px solid var(--green-700);
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    color: var(--green-700);
    margin-bottom: 6px;
}

.modal-input-div input, .modal-input-div textarea {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.modal-input-div button {
    background-color: var(--green-600);
    color: var(--custom-white);
    width: 100%;
    padding: 6px 0;
    border-radius: 4px;
    margin-top: 6px;
}

.profile-history {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(16px);
    background: var(--green-950);
    border-radius: 1rem;
    margin: 0 0.8rem 1rem 0.4rem;
    padding: 1.2rem;
    max-height: 100%;
}

.profile-history h3 {
    color: var(--custom-white); 
    font-size: x-large;
    font-weight: 700;
}

.history-list-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 80vh;
    gap: 1rem;
    margin-top: 0.5rem;
    padding: 1rem 0.5rem;
}

.history-list-container > div {
    background-color: var(--custom-white);
    padding: 12px 16px;
    border-radius: 0.6rem;
}

.history-list > :first-child{
    font-size: large;
    font-weight: 500;
}

.history-list > div {
    border-top: 2px solid rgba(128, 128, 128, 0.2);
    margin-top: 4px;
    padding-top: 6px;
}

.history-list > div > span {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.history-list > div > span > :first-child {
    color: var(--green-700);
    font-size: small;
}

.history-stars {
    color: var(--green-600);
    font-size: smaller;
}



/* SINGLE JOB PAGE */

.container {
    background-color: var(--custom-white);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.job-title, .page-title {
    font-size: x-large;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--custom-white);
    background-color: var(--green-900);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.single-job-container h3 {
    font-size: larger;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.single-job-container p {
    border: 1px solid var(--green-950);
    border-radius: 10px;
    padding: 0.25rem 0.75rem;
    margin: 5px 0 20px;
}

.job-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.job-details > div:nth-child(2) {
    border-left: 2px solid rgba(128, 128, 128, 0.2);
    border-right: 2px solid rgba(128, 128, 128, 0.2);
    padding: 0 1.2rem;
}

.job-media {
    margin: 5px 0 30px;
}

.job-media h3 {
    margin-bottom: 10px;
}

.job-media .media {
    border: 1px solid var(--green-950);
    border-radius: 10px;
    display: flex;
    gap: 0.2rem;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    padding: 1rem;
}

.job-media .media img {
    max-width: 400px;
    height: 300px;
    object-fit: cover;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 10px 0;
}

.back-btn, .save-btn {
    border: 1px solid var(--green-950);
    padding: 0.6rem;
    border-radius: 50%;
}

.back-btn:first-child, .save-btn :first-child {
    color: var(--green-950);
    font-size: x-large;
}

.back-btn:hover, .save-btn:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 5px rgba(4, 37, 18, 0.5);
}

.applyNow-btn {
    color: var(--custom-white);
    background-color: var(--green-900);
    padding: 1rem;
    border-radius: 16px;
    font-size: large;
    width: 80%;
}

.applyNow-btn:hover {
  transform: translate(-3px, -3px);
  box-shadow: 4px 4px 20px 0 var(--green-800);
}




/* JOB POSTS PAGE */

.post-bar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post-bar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--custom-white);
    border-radius: 24px;
    padding: 0.5rem 1.5rem;
    transition: transform 0.1s ease-in-out;
}

.post-bar-button :first-child, .post-form label :first-child {
    margin-right: 6px;
}

.post-bar-button:hover {
    transform: scale(1.10);
    background-color: var(--custom-white);
    color: var(--green-800);
    box-shadow: 3px 3px 5px rgba(4, 37, 18, 0.6);
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin: 0 auto;
}

.post-form label:not(.file-input-label) {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
}

.post-form label :first-child {
    font-size: small;
    margin-top: -2px;
    color: rgba(4, 37, 18, 0.8);
}

.post-form input, .post-form select, .post-form textarea, .file-input-label {
    width: 100%;
    padding: 0.6rem 1rem;
    border: 1px solid var(--green-900);
    border-radius: 10px;
    background-color: var(--custom-white);
}

.file-input {
    display: none;
}

.file-input-label {
    display: inline-block;
    color: rgb(128, 128, 128);
}

.file-name {
    font-size: 16px;
    text-align: center;
}

.post-form div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0 1rem;
    gap: 2rem;
    font-size: 1.25rem;
}

.cancel-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    color: var(--green-950);
    border: 1px solid var(--green-900);
    border-radius: 12px;
}

.post-form div button {
    flex: 1;
    padding: 1rem 1.5rem;
    background-color: var(--green-900);
    color: var(--custom-white);
    border-radius: 12px;
}

.cancel-btn:hover, .post-form div button:hover {
    box-shadow: 6px 6px 10px rgba(4, 37, 18, 0.5);
}



/*  APPLICANTS PAGE  */

.selection-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
    gap: 1rem;
}

.applicants-selection input {
    margin-right: 6px;
    accent-color: var(--green-500);
    color: var(--green-500);
}

.selection-form-btn {
    color: var(--custom-white);
    font-size: larger;
    font-weight: 600;
    margin: 1rem;
    background: var(--gradient-green);
    padding: 1rem 2rem;
    border: 2px solid var(--green-950);
    border-radius: 1rem;
    box-shadow: -6px 6px 10px rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

.selection-form-btn:hover {
    color: var(--green-950);
    background: var(--custom-white);
    box-shadow: 6px 6px 10px rgba(4, 37, 18, 0.6);
}

.applicants-ratings input {
    margin-right: 16px;
    accent-color: var(--green-500);
    color: var(--green-800);
    border-radius: 6px;
}


/*  PROCESSED APPLICANTS */

.not-chosen {
    opacity: 70%;
}

.ratings {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.ratings > :first-child {
    color: var(--green-800);
    font-size: x-large;
}

.ratings > :not(:first-child) {
    color: var(--green-600);
    font-size: large;
    margin-left: 5px;
}



/* NOTIFICATIONS PAGE */

.notif-card {
    gap: 0.4rem;
}

.notif-title {
    font-size: 1.4rem;
}

.notif-subtitle {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.notif-subtitle :first-child {
    font-size: 7px;
    color: var(--green-500);
}

.notif-card > div {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    padding-top: 10px;
    padding-right: 10px;
    align-items: center;
    border-top: 2px solid rgba(128, 128, 128, 0.2);
}

.notif-card > div > :first-child:hover {
    color: var(--green-700);
}


@media only screen and (min-width: 835px) and (max-width: 1030px) {
    .profile-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile-info,
    .profile-about,
    .profile-history {
      width: 70%;
    }
  
    .job-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  
    .btn-group {
      display: flex;
      justify-content: space-between;
    }
  }


@media only screen and (min-width: 700px) and (max-width: 835px) {
    .profile-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile-info,
    .profile-about,
    .profile-history {
      width: 80%;
    }
  
    .job-categories-section ul {
      justify-content: space-around;
    }
  
    .job-details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }


  @media only screen and (min-width: 350px) and (max-width: 700px) {
    .profile-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .profile-info,
    .profile-about,
    .profile-history {
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .search-bar-section {
      width: 100%;
    }
  
    .search-bar {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .job-details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  
    .btn-group {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }